[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dateparser = "*"

[dev-packages]
ipython = "*"
pytest = "*"
mypy = "*"
coverage = "*"
tox = "*"
pytest-ordering = "*"
bumpversion = "*"
twine = "*"
pylint = "*"
pymongo = "*"

[requires]
python_version = "3.8"
